.title{
  background: white;
  
}

.hidden{
  display: none;
}

.coin_container{
  display: inline-block;
  /*border: 1px solid black;*/
  animation: spin 6s infinite linear;
      /*transform: rotateY(45deg);*/

}
/*.coin_container:before{
  display: inline-block;
  content: ' ';
  width: 1em;
  height: 1em;
  background: red;
  transform: rotateY(90deg);

  animation: twist 6s infinite linear;
}*/

@keyframes twist{
  0%{
    transform: rotateY(90deg) translateX(-1em);
  }
  50%{
    transform: rotateY(180deg)translateX(0em);

  }
  100%{
    transform: rotateY(90deg)translateX(1em);
  }
}
/*.coin_left{
  display: inline-block;
  background: blue;
  width: 1em;
  height: 1em;
  transform: rotateY( -45deg)  translateZ(1em); 
}

.coin_right{
  display: inline-block;
  transform: rotateY( 45deg)  translateZ(1em); 
  background: red;
  width: 1em;
  height: 1em;

  
}*/

.Coin_face{
  background: goldenrod;
  display: inline-block;
  padding: 1em;
/*  width: 20px;
  height: 20px;*/
  border-radius: 50%;

  perspective: 1000px;
  transform-style: preserve-3d;


}

.coin_container:hover{
  animation: none;
  transform: scale(1.1);
}

@keyframes spin{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}


#background_image { 
  background: url(./small_file_island_table.jpeg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: contrast(111%) brightness(135%) hue-rotate(0deg) blur(1px) sepia(5%) saturate(3);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;


}
#block-spinner{
  background-image: url("/block-spinner.gif");
  background-size: 100px 100px; 
  display: none;
  position: absolute;
  top: 29%;
  left: 75%;
  height: 100px;
  width: 100px;
}

.user_stats{
  min-height: 800px;

  background: rgba(20, 10, 200, 0.8);
  color: antiquewhite;
  font-size: 2em;

}
.crowdsale_grid{
  /*display: grid;*/
}

.crowdsale_list_view{
  margin-top: 1em;
  border: 1px solid black;
}
.crowdsale_list_name{
  margin: 1em;
  cursor: pointer;
  text-decoration: underline;
  font-size:2em;
}
.mint_btn{
  background-color: hsl(120,100%,79.8%)
}
.top-right-pannel{
  text-align: center;
  border: 1px solid red;

}

.mint_1{color: brown;}
.mint_10{color: blue;}
.mint_50{color: red;}
.clickable{
  cursor: pointer;
}

.user_events_grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2em;
}

.red_border{
  border: red solid 1px;
}

table{

}
 td{
  border-right: 1px solid black;
 }

 label{
  text-decoration: underline;
  margin:1em;
 }

 .crowdsale_input{

 }

/* input[type="text"]{
  width: 350px;
 }

 input:disabled{
  background: rgb(111, 111, 111);
  color:pink;
 }*/

 .set_time_btn{
  /*padding: 1em;*/
  /*margin: 1em;*/

 }

.short_input{
  width: 5em;
}
 .minus{
  background: indianred;
  margin-left: 1em; 
 }
 .text_time{
  margin-left: 1em;
 }

 .text_time_limit{
  margin-left: 1em;
 }

 .plus{
  background: green;
 }

 .inline{
  display: inline;
 }


.user_events_grid *{
  color:red;
}
.events_readout{
  grid-column:1/3;
  justify-self: center;
  align-content: center;
}

.tiny_text{
  font-size: 10px;
}

.topbar{
  background: rgba(10, 222, 10, 0.8);
}
.create-crowdsale-container{
  /*min-height: 800px;*/
  background: rgb(241,144,186);
  background: linear-gradient(164deg, rgba(241,144,186,1) 0%, rgba(186,213,245,1) 100%);  /*color: antiquewhite;*/
  font-size: 2em;
}

a:hover {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:link {
text-decoration: none;
}
a:active {
text-decoration: none;
}
a:focus {
text-decoration: none;
}
a{
  color: none;
  text-decoration: none;

}

.stencil-text{
background: rgb(120,8,43);
background: linear-gradient(302deg, rgba(120,8,43,1) 34%, rgba(12,10,136,1) 44%, rgba(3,3,91,1) 79%, rgba(118,223,245,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.logo_link{
  text-align: left;
  font-size: 2em;
  color: rgba(0,0,0,0.5);
}
.logo_link:hover{
  color: rgba(0,0,0,0.5);
}

.nav-gradient{
  background: rgb(215,212,213);
  background: linear-gradient(164deg, rgba(215,212,213,1) 0%, rgba(250,249,250,1) 100%);
}

.nav_link:hover{
  color: goldenrod;
}
.white{
  color:rgba(250, 250, 250, 0.9);
}

.nav_link{
  padding: 0.5em;
  
  color: rgba(0,0,0,0.5);
  display: list-item;

  /*padding: 10px;*/
  /*background: rgba(111, 111, 111, 0.6);*/
  /*font-size: 2em;*/
}

.closed_sale{
  background: indianred;
}

.finalized_sale{
  background: skyblue;
}

.active_sale{
  background: lawngreen
}

.small-box{
  width: 1.5em;
  height: 1.5em;
}

.close_btn{
  text-decoration: none;
  background: red;
  font-size: 20px;
}


/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
 .ball-atom-spinner-container{
  display: none;
  z-index: 100000;
  position: fixed;
  right: 15%;
  top: 10%;
 }
.la-ball-atom,
.la-ball-atom > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.la-ball-atom {
    display: block;
    font-size: 0;
    color: blue; /* color of small electrons*/
}

.la-ball-atom.la-dark {
    color: green; /* color of small electrons with added class*/
}

.la-ball-atom > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-atom {
    width: 32px;
    height: 32px;
}

.la-ball-atom > div:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 60%;
    height: 60%;
    background: red; /* color of small electrons*/
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: ball-atom-shrink 4.5s infinite linear;
       -moz-animation: ball-atom-shrink 4.5s infinite linear;
         -o-animation: ball-atom-shrink 4.5s infinite linear;
            animation: ball-atom-shrink 4.5s infinite linear;
}

.la-ball-atom > div:not(:nth-child(1)) {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: none;
    -webkit-animation: ball-atom-zindex 1.5s 0s infinite steps(2, end);
       -moz-animation: ball-atom-zindex 1.5s 0s infinite steps(2, end);
         -o-animation: ball-atom-zindex 1.5s 0s infinite steps(2, end);
            animation: ball-atom-zindex 1.5s 0s infinite steps(2, end);
}

.la-ball-atom > div:not(:nth-child(1)):before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    content: "";
    background: currentColor;
    border-radius: 50%;
    opacity: .75;
    -webkit-animation: ball-atom-position 1.5s 0s infinite ease, ball-atom-size 1.5s 0s infinite ease;
       -moz-animation: ball-atom-position 1.5s 0s infinite ease, ball-atom-size 1.5s 0s infinite ease;
         -o-animation: ball-atom-position 1.5s 0s infinite ease, ball-atom-size 1.5s 0s infinite ease;
            animation: ball-atom-position 1.5s 0s infinite ease, ball-atom-size 1.5s 0s infinite ease;
}

.la-ball-atom > div:nth-child(2) {
    -webkit-animation-delay: .75s;
       -moz-animation-delay: .75s;
         -o-animation-delay: .75s;
            animation-delay: .75s;
}

.la-ball-atom > div:nth-child(2):before {
    -webkit-animation-delay: 0s, -1.125s;
       -moz-animation-delay: 0s, -1.125s;
         -o-animation-delay: 0s, -1.125s;
            animation-delay: 0s, -1.125s;
}

.la-ball-atom > div:nth-child(3) {
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    -webkit-animation-delay: -.25s;
       -moz-animation-delay: -.25s;
         -o-animation-delay: -.25s;
            animation-delay: -.25s;
}

.la-ball-atom > div:nth-child(3):before {
    -webkit-animation-delay: -1s, -.75s;
       -moz-animation-delay: -1s, -.75s;
         -o-animation-delay: -1s, -.75s;
            animation-delay: -1s, -.75s;
}

.la-ball-atom > div:nth-child(4) {
    -webkit-transform: rotate(240deg);
       -moz-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
         -o-transform: rotate(240deg);
            transform: rotate(240deg);
    -webkit-animation-delay: .25s;
       -moz-animation-delay: .25s;
         -o-animation-delay: .25s;
            animation-delay: .25s;
}

.la-ball-atom > div:nth-child(4):before {
    -webkit-animation-delay: -.5s, -.125s;
       -moz-animation-delay: -.5s, -.125s;
         -o-animation-delay: -.5s, -.125s;
            animation-delay: -.5s, -.125s;
}

.la-ball-atom.la-sm {
    width: 16px;
    height: 16px;
}

.la-ball-atom.la-sm > div:not(:nth-child(1)):before {
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
}

.la-ball-atom.la-2x {
    width: 64px;
    height: 64px;
}

.la-ball-atom.la-2x > div:not(:nth-child(1)):before {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

.la-ball-atom.la-3x {
    width: 96px;
    height: 96px;
}

.la-ball-atom.la-3x > div:not(:nth-child(1)):before {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
}

/*
 * Animations
 */
@-webkit-keyframes ball-atom-position {
    50% {
        top: 100%;
        left: 100%;
    }
}
@-moz-keyframes ball-atom-position {
    50% {
        top: 100%;
        left: 100%;
    }
}
@-o-keyframes ball-atom-position {
    50% {
        top: 100%;
        left: 100%;
    }
}
@keyframes ball-atom-position {
    50% {
        top: 100%;
        left: 100%;
    }
}

@-webkit-keyframes ball-atom-size {
    50% {
        -webkit-transform: scale(.5, .5);
                transform: scale(.5, .5);
    }
}

@-moz-keyframes ball-atom-size {
    50% {
        -moz-transform: scale(.5, .5);
             transform: scale(.5, .5);
    }
}

@-o-keyframes ball-atom-size {
    50% {
        -o-transform: scale(.5, .5);
           transform: scale(.5, .5);
    }
}

@keyframes ball-atom-size {
    50% {
        -webkit-transform: scale(.5, .5);
           -moz-transform: scale(.5, .5);
             -o-transform: scale(.5, .5);
                transform: scale(.5, .5);
    }
}

@-webkit-keyframes ball-atom-zindex {
    50% {
        z-index: 10;
    }
}

@-moz-keyframes ball-atom-zindex {
    50% {
        z-index: 10;
    }
}

@-o-keyframes ball-atom-zindex {
    50% {
        z-index: 10;
    }
}

@keyframes ball-atom-zindex {
    50% {
        z-index: 10;
    }
}

@-webkit-keyframes ball-atom-shrink {
    50% {
        -webkit-transform: translate(-50%, -50%) scale(.8, .8);
                transform: translate(-50%, -50%) scale(.8, .8);
    }
}

@-moz-keyframes ball-atom-shrink {
    50% {
        -moz-transform: translate(-50%, -50%) scale(.8, .8);
             transform: translate(-50%, -50%) scale(.8, .8);
    }
}

@-o-keyframes ball-atom-shrink {
    50% {
        -o-transform: translate(-50%, -50%) scale(.8, .8);
           transform: translate(-50%, -50%) scale(.8, .8);
    }
}

@keyframes ball-atom-shrink {
    50% {
        -webkit-transform: translate(-50%, -50%) scale(.8, .8);
           -moz-transform: translate(-50%, -50%) scale(.8, .8);
             -o-transform: translate(-50%, -50%) scale(.8, .8);
                transform: translate(-50%, -50%) scale(.8, .8);
    }
}
